<section class="hero-section" id="{{id}}">
  <header>{{title}}</header>
  <section class="hero-content">{{body}}</section>
  <footer>
    <button>{{#scroll-to href=scrollTo}}{{anchorTxt}}{{/scroll-to}}</button>
  </footer>
</section>

{{yield}}
